/* header */

.menu {
    background: #000000;
    backdrop-filter: blur(2px);
}

.menu-container {
    display: flex;
    padding: 14px 220px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
    transition: .2s all;
}

.logo:hover {
    transform: scale(1.1);
}

.main-title {
    width: 82px;
    height: 52px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    position: relative;
}

.main-title img {
    position: absolute;
    bottom: 8px;
    right: 56px;
}

.main-title h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.navigation {
    display: flex;
    padding-left: 63px;
    gap: 58px;
}

.navigation li {
    list-style-type: none;
}

.navigation li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s ease-in;
}

.navigation li a.active {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;
}

.navigation li a:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;
}

.header-link {
    margin-left: 438px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
    transition: 1s ease-in;
}

.header-link:hover {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent;
}

/* main */

/* Watch your favorite animal online */

.Watch_your_favorite_animal_online {
    height: 718px;
    background: url(../../images/GiantPanda.jpg);
    padding: 104px 216.69px 0 880px;
    position: relative;
}

.animal-online {
    text-align: center;
    position: relative;
}

.Watch_your_favorite_animal_online::before{
    position: absolute;
    bottom: 225px;
    right: 326px;
    content: "";
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.animal-title h2{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.animal-title h2 span {
    color: #FFEE2E;
}

.animal-online-button {
    margin: 60px 0 0 0;
    width: 298px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: transparent;
    cursor: pointer;
    transition: .3s all;
}

.animal-online-button:hover {
    background: linear-gradient(113.96deg, #df6d3d 1.49%, #9b5506 101.44%);
    transform: scale(1.1);
}

.animal-online-button:active {
    background: linear-gradient(113.96deg, #4de71a 1.49%, #0a9d2c 101.44%);
}

/* The_backstage */

.The_backstage {
    padding: 140px 220px 180px 219px;
    position: relative;
}

.backstage-block {
    display: flex;
    width: 1161px;
    height: 403px;
}

.backstage-img {
    width: 609px;
}

.backstage-text {
    width: 552px;
    padding-left: 87px;
}

.backstage-text h2 {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

.backstage-text p:nth-child(2) {
    margin: 20px 0 54px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.backstage-text h3 {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.backstage-text p:nth-child(4) {
    margin: 34px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.flower-foto-1 {
    position: absolute;
    bottom: 110px;
    left: 1395px;
}

/* Pets */

.pets {
    height: 1106px;
    padding: 0 222px 100px 220px;
    position: relative;
}

.pets-container {
    display: flex;
    flex-wrap: wrap;
    width: 1158px;
    height: 872px;
    gap: 30px;
}

.pets-block {
    width: 366px;
    height: 426px;
    border: 0.2px solid #FA6F32;
    border-radius: 5px;
    overflow: hidden;
}

.pets-img-block {
    border-radius:5px 5px 0 0;
    height: 364px;
    transition: .5s all;
    background-color: black;
    overflow: hidden;
}

.pets-img {
    width: 364px;
    border-radius:5px 5px 0 0;
    transition: .5s all;
}

.pets-block:hover .pets-img {
    opacity: 0.5;
    transform: scale(1.1);
} 

.pets-block:hover .pets-description {
    bottom: 60px;
}

.pets-block:hover .pets-description img {
    opacity: 0;
}

.pets-block:hover .pets-description {
    color: white;
}

.pets-description {
    display: flex;
    padding: 2px 12px 14px 16px;
    justify-content: space-between;
    transition: .5s all;
    position: relative;
    z-index: 1;
    bottom: 0;
    color: #000000;
}

.pets-text {
}

.pets-description img {
    transition: .5s all;
    opacity: 1;
}

.pets-text h2 {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
}

.pets-text p {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

.pets-button {
    margin: 80px 0 0 430px;
    width: 298px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: transparent;
    cursor: pointer;
    transition: .3s all;
}

.pets-button:hover {
    background: linear-gradient(113.96deg, #df6d3d 1.49%, #9b5506 101.44%);
    transform: scale(1.1);
}

.pets-button:active {
    background: linear-gradient(113.96deg, #4de71a 1.49%, #0a9d2c 101.44%);
}

.arrow-pets-left {
    position: absolute;
    bottom: 635px;
    left: 136px;
    transition: .3s all;
    cursor: pointer;
}

.arrow-pets-left:hover {
    transform: scale(1.1);
}

.arrow-pets-right {
    position: absolute;
    bottom: 635px;
    left: 1400px;
    transition: .3s all;
    cursor: pointer;
}

.arrow-pets-right:hover {
    transform: scale(1.1);
}

.palm-photo {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.strelitzia-pets {
    position: absolute;
    bottom: 0px;
    left: 1230px;
}

/* Pick and feed a friend */

.pick_and_feed_a_friend {
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 220px 100px 220px;
}

.pick-friend-container {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 1160px;
    height: 835px;
    padding: 41px 0 59px 99px;
}

.pick-friend-text {
    margin: 0 0 60px 0;
}

.pick-friend-text h2 {
    margin: 0 0 0 251px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
}

.pick-friend-text p:nth-child(2) {
    margin: 30px 0 40px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.pick-friend-text p:nth-child(3) {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pick-friend-text p:nth-child(4) {
    margin: 10px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.emergency-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    text-decoration: none;
    border-bottom: 1px solid #FE9013;
}

.pick-friend-donate {}

.pick-friend-donate h3 {
    margin: 0 0 40px 376px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%; 
    color: #333B41;
}

.donate-info-container {
    margin-left: 99px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.donate-info-block {
    width: 168px;
    height: 224px;
}

.donate-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0.2px solid #FA6F32;
}

.donate-info-block p {
    margin: 30px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.widget-arrow {
    margin-bottom: 60px;
}

.pick-friend-btn {
    margin: 60px 0 0 332px;
    width: 298px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: transparent;
    cursor: pointer;
    transition: .3s all;
}

.pick-friend-btn:hover {
    background: linear-gradient(113.96deg, #df6d3d 1.49%, #9b5506 101.44%);
    transform: scale(1.1);
}

.pick-friend-btn:active {
    background: linear-gradient(113.96deg, #4de71a 1.49%, #0a9d2c 101.44%);
}

/* testimonials */

.testimonials {
    padding: 149px 220px 180px 220px;
    height: 928px;
    position: relative;
}

.testimonials-container {
    width: 1160px;
    height: 485px;
}

.testimonials-container h3 {
    margin: 0 0 47px 477px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}

.testimonials-block-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials-block {
    padding: 2px;
    width: 268px;
    height: 391px;
    border-radius: 20px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.testimonials-block-wrapper {
    background: #F1F3F2;
    border-radius: 20px;
    padding: 15px 15px 19px 16px;
}

.testimonials-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.testimonials-title-text {
    margin-left: 10px;
}

.testimonials-title-text p:nth-child(1) {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
}

.testimonials-title-text p:nth-child(2) {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}

.testimonials-block-wrapper p{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}

.testimonials-scroll {
    margin: 21px 0 0 280px;
    padding: 0.5px;
    width: 599px;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);;
}

.testimonials-scroll-container {
    width: 598px;
    height: 6.5px;
    background: #F5F7F6;
    border-radius: 5px;
}

.scroll-bar {
    width: 115.19px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
    cursor: pointer;
}

.testimonials-button {
    margin-top: 32px;
    width: 298px;
    height: 54px;
    border: transparent;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s all;
}

.testimonials-button:hover {
    background: linear-gradient(113.96deg, #df6d3d 1.49%, #9b5506 101.44%);
    transform: scale(1.1);
}

.testimonials-button:active {
    background: linear-gradient(113.96deg, #4de71a 1.49%, #0a9d2c 101.44%);
}

.leave-foto {
    position: absolute;
    top: 621px;
    left: 1351px;
}

/* footer */

.footer-menu {
    background: #111115;
    padding: 41px 220px 50px 220px;
    height: 443px;
}

.footer-head {
    display: flex;
    justify-content: space-between;
}

.subscribe-form h3 {
    margin: 0 0 14px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%; 
    color: #FFFFFF;
}

.footer-input {
    width: 228px;
    height: 42px;
    background: transparent;
    border-radius: 2px;
    border: 0.7px solid #FE9013;
    padding: 10px 7px 10px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    outline: none;
}

.footer-input:invalid:not(:placeholder-shown) {
    border-color: #D31414;
    color: #D31414;
}

.footer-input:valid:not(:placeholder-shown) {
    border-color: green;
}

.short-btn {
    margin-left: 10px;
    width: 129px;
    height: 42px;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    cursor: pointer;
}

.footer-input:valid:not(:placeholder-shown) ~ .short-btn {
    border: 1px solid #4B9200;
    color: #4B9200;
}

.footer-input:invalid:not(:placeholder-shown) ~ .short-btn {
    border: 1px solid red;
    color: red;
}

.footer-btn {
    margin-top: 36px;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: transparent;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: .3s all;
}

.footer-btn:hover {
    background: linear-gradient(113.96deg, #df6d3d 1.49%, #9b5506 101.44%);
    transform: scale(1.1);
}

.footer-btn:active {
    background: linear-gradient(113.96deg, #4de71a 1.49%, #0a9d2c 101.44%);
}

.footer-links {
    margin-top: 44px;
    display: flex;
}

.social-links-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-links-nav li{
    list-style-type: none;
}

.social-links-block {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social-link {
    text-decoration: none;
}

.social-link:active .social-network {
    background:#4B9200;
}

.social-link:hover .social-network {
    background: #F9804B;
}

.social-link:active .social-network-text {
    color: #4B9200;
}

.social-link:hover .social-network-text {
    color: #F9804B;
}

.social-network-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.social-network {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
}

.navigation.footer {
    margin: 112px 0 0 288px;
    padding: 0;
}

.design {
    text-decoration: none;
    margin: 93px 0 0 171px;
}

.design-text {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    text-decoration: none;
}

.design:active .design-text {
    border-bottom: 1px solid #4B9200;
    color: #4B9200;
}