@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    width: 1600px;
    /* border: 1px solid black; */
}

/* header */

.menu {
    background: #000000;
    backdrop-filter: blur(2px);
}

.menu-container {
    display: flex;
    padding: 14px 220px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
}

.main-title {
    width: 82px;
    height: 52px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    position: relative;
}

.main-title img {
    position: absolute;
    bottom: 8px;
    right: 56px;
}

.main-title h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.navigation {
    display: flex;
    padding-left: 63px;
    gap: 58px;
}

.navigation li {
    list-style-type: none;
}

.navigation li a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.header-link {
    margin-left: 438px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

/* main */

/* Watch your favorite animal online */

.Watch_your_favorite_animal_online {
    height: 718px;
    background: url(../images/GiantPanda.jpg);
    padding: 104px 216.69px 0 880px;
    position: relative;
}

.animal-online {
    text-align: center;
    position: relative;
}

.Watch_your_favorite_animal_online::before{
    position: absolute;
    bottom: 225px;
    right: 326px;
    content: "";
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.animal-title h2{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.animal-title h2 span {
    color: #FFEE2E;
}

.animal-online-button {
    margin: 60px 0 0 0;
    width: 298px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: transparent;
}

/* The_backstage */

.The_backstage {
    padding: 140px 220px 180px 219px;
    position: relative;
}

.backstage-block {
    display: flex;
    width: 1161px;
    height: 403px;
}

.backstage-img {
    width: 609px;
}

.backstage-text {
    width: 552px;
    padding-left: 87px;
}

.backstage-text h2 {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}

.backstage-text p:nth-child(2) {
    margin: 20px 0 54px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.backstage-text h3 {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.backstage-text p:nth-child(4) {
    margin: 34px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.flower-foto-1 {
    position: absolute;
    bottom: 110px;
    left: 1395px;
}

/* Pets */

.pets {
    height: 1106px;
    padding: 0 222px 100px 220px;
    position: relative;
}

.pets-container {
    display: flex;
    flex-wrap: wrap;
    width: 1158px;
    height: 872px;
    gap: 30px;
}

.pets-block {
    width: 366px;
    height: 426px;
    border: 0.2px solid #FA6F32;
    border-radius: 5px;
}

.pets-img {
    width: 364px;
    border-radius:5px 5px 0 0;
}

.pets-description {
    display: flex;
    padding: 2px 12px 14px 16px;
    justify-content: space-between;
}

.pets-text {
    
}

.pets-text h2 {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000
}

.pets-text p {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

.pets-button {
    margin: 80px 0 0 430px;
    width: 298px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FE9013;
    border-radius: 25px;
    border: transparent;
}

.arrow-pets-left {
    position: absolute;
    bottom: 635px;
    left: 136px;
}

.arrow-pets-right {
    position: absolute;
    bottom: 635px;
    left: 1400px;
}

.palm-photo {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.strelitzia-pets {
    position: absolute;
    bottom: 0px;
    left: 1230px;
}

/* Pick and feed a friend */

.pick_and_feed_a_friend {
    height: 1004px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 220px 100px 220px;
}

.pick-friend-container {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 1160px;
    height: 835px;
    padding: 41px 0 59px 99px;
}

.pick-friend-text {
    margin: 0 0 60px 0;
}

.pick-friend-text h2 {
    margin: 0 0 0 251px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #FE9013;
}

.pick-friend-text p:nth-child(2) {
    margin: 30px 0 40px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.pick-friend-text p:nth-child(3) {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.pick-friend-text p:nth-child(4) {
    margin: 10px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
}

.emergency-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    text-decoration: none;
    border-bottom: 1px solid #FE9013;
}

.pick-friend-donate {}

.pick-friend-donate h3 {
    margin: 0 0 40px 376px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%; 
    color: #333B41;
}

.donate-info-container {
    margin-left: 99px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.donate-info-block {
    width: 168px;
    height: 224px;
}

.donate-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0.2px solid #FA6F32;
}

.donate-info-block p {
    margin: 30px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}

.widget-arrow {
    margin-bottom: 60px;
}

.pick-friend-btn {
    margin: 60px 0 0 332px;
    width: 298px;
    height: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: transparent;
}



